.page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding-top: 3rem;
}

.page h1 {
  font-size: 4rem;
  color: var(--text-muted);
}

.page p {
  color: var(--text-muted);
}
